nav{    /*Fixando o menu à esquerda*/
    position: fixed;
    left: 0;
}
 nav ul { /*Largura dos botões*/
    width: 300px;
    }
nav ul li a {   /*Elementos visuais dos botões*/
    display: block;
    text-decoration: none;
    color: #E2144A;
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
 }
#navbar header{ /*Centralizando o header do menu*/
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
} 
#navbar ul {    /*Faz a barra deslizar*/
    height: 100%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}
/*Acima são os elementos do menu ^^*/

section{
    display: block;
}
#main-doc {     /*Leva o documento principal para o meio para posicioná-lo*/
    position: absolute;
    margin-left: 294px;
    padding: 20px;
    margin-bottom: 110px;
    border-left: 2px solid #E2144A;
}
 /* ul {        Removendo pois não sei oq faz
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
} */
